html{
	background: url(img/bg.jpg) no-repeat center center fixed; 
	background-size: cover;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(172, 211, 255), rgba(0, 224, 255, 0.53));
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.29);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.54);
}


.container{
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.73);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.38);
}

#reslinks {
    float: right;
    margin-right: 20px;
}

@media(max-width: 1000px){
	.toplinkscontainer {
		display: none;
	}
	}	
	@media(min-width: 1000px){
		.reslink{
		display: inline;
	}
}


p.details{
	margin-left: 40px;
	font-family: Roboto Slab;
}
figcaption{
	font-family: Roboto Slab;
	color: red;
	font-weight: bold;
}
h1,h3{
	margin-left: 40px;
}
		
        @media screen and (min-width: 452px){
            .rwd-break { display: none; transition:2s;}
			.container{
				padding: 5px 10px;
				margin-left: 150px;
				margin-right: 150px;
				border-radius: 9px;
				background-color: rgba(255, 255, 255, 0.73);
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.38);
			}
        }

		
.imgcont{
    border-radius: 50px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.frontnav {
    background-color: #03A9F4 !important;
    color: #fff !important;
    font-family: 'Helvetica Neue',sans-serif;
    font-size: 42px !important;
    line-height: 30px !important;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border: 0 !important;
    text-shadow: #0c658e 0 -1px 0 !important;
    width: 120px;
    height: 32px;
    padding: 5px 10px;
	margin-right: 15px;
}   
#floatnav{
	position: fixed;
	background-color: rgba(1, 196, 255, 0.95);
	width: 100%;
    padding-left: 20px;
	z-index: 100;
    top: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 1px 1px 7px black;
}
a.nav, :visited {
    padding: 13px 30px;
    background-color: white;
    color: black;
    font-family: roboto;
    font-weight: bold;
    transition: 0.1s;
}
a.nav:hover {
    background-color: #4b91f5;
    color: #f7f9f9;
    transition: 0.1s;
}

.ankornav{
	float: right;
    margin-top: 10px;
    margin-right: 50px;
}

span.title{
	font-size: 30px;
	color: white;
	font-family: roboto;
	text-shadow: 0 2px 3px black;
}

.clear{
	height: 50px;
}
.copyright {
	background-color: #00c4ff;
	color: #000;
	text-align: center;
	box-shadow: 0px 1x 16px white;
	padding: 2px 7px;
}
.headeer {
font-size:60px;
color: black;
text-shadow: black 0px 1px 4px;
font-family: arial;
}
body{
	animation-name: color_change;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	font-family: helvetica;
	margin-left: 0px;
	margin-right: 0px;
}
body.noscript{
	background-color: black;
	color: white;
	margin-left: 0px;
}
h1.noscript{
	color: red;
	text-shadow: white 0px 1px 4px;
	font-size:60px;
}
h3.appname{
	padding: 5px 10px;
	border-radius: 4px;
	background-color: white;
	color: black;
	margin-left:30%;
	margin-right:30%;
}
button.chkjs {
    border-radius: 4px;
    padding: 4px 7px;
    border: 1px solid brown;
    background-color: red;
    color: white;
    text-shadow: 0px 1px 1px #da910e;
}
a,:active, :visited, :hover{
	color: green;
	text-decoration: none;
}
a.copyright,:active, :visited, :hover{
	color: black;
	text-decoration: none;
}
canvas {
  display:inline-block;
  margin-right:-5px;
  }
a.active{
	color: red;
}
a.active: hover{
	color: white;
}
  
.printer{
	background-color: black;
	padding: 5px 10px;
	width: 600px;
	height:150px;
	border-radius: 9px;
}
.canvas-wire{
    border:1px solid #a09898; 
    background-color: #a09898;
    vertical-align: middle;
}
.canvas-film-1{
    border-radius: 8px 0px 0px 8px;
     background: linear-gradient(#f5e898, #caa052);
    vertical-align: middle;
}
.canvas-film-2{
    border-radius: 0px 8px 8px 0px;
    background: linear-gradient(#f5e898, #caa052);
    vertical-align: middle;
}
.canvas-film-mid{
    background: linear-gradient(#f5e898, #caa052);
    vertical-align: middle;
}
.metal {
    position: relative;
    text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
    background-color: hsl(0,0%,90%);
}
.metal.linear {
    background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 6%, hsla(0,0%,100%, .1) 7.5%), -webkit-repeating-linear-gradient(left, hsla(0,0%, 0%,0) 0%, hsla(0,0%, 0%,0) 4%, hsla(0,0%, 0%,.03) 4.5%), -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%), linear-gradient(180deg, hsl(0,0%,78%) 0%, hsl(0,0%,90%) 47%, hsl(0,0%,78%) 53%, hsl(0,0%,70%)100%);
}
